<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/marwan.khalil/IdeaProjects/Playwright">
        <classes>
<!--            <class name="test.ui.qCMS.LoginTest">-->
<!--                <methods><include name="testLogin"/>-->
<!--                    <include name="testLogin1"/>-->
<!--                    <include name="testName"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="test.ui.qDSP.CreateNewUserTest">
                <methods>
                    <include name="tc_createNewUser"/>
                </methods>
            </class>
            <class name="test.ui.qDSP.LoginTest">
                <methods>
                    <include name="tc_loginWithValidUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>